body {
        font-weight: bold;
}

.brd {
    height: 170px; 
    width: 300px; 
    border: 4px double black; 
    background: #fc3; 
    padding: 10px; 
}

.button {
    text-align: center
}

